# node_modules
node_modules/


# Archivos generados por Cypress
cypress/screenshots/
cypress/videos/


# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Archivos de configuración de IDEs
.vscode/
.idea/